@media (max-width:480px) {
    .banner-one {
        padding-top: 80px;
    }
    .banner-two {
        padding-top: 80px;
    }
    .banner-three {
        padding-top: 80px;
    }

    .welcome-area p {
        font-size: 17px;
    }

    .video-area .play {
        top: 30%;
        left: 40%;
      }
    
      .video-area .play span {
        font-size: 30px;
        padding: 25px;
      }
}