@media (max-width:480px) {
    .banner-one {
        padding-top: 80px;
    }
    .banner-two {
        padding-top: 80px;
    }
    .banner-three {
        padding-top: 80px;
    }

    .welcome-area p {
        font-size: 17px;
    }

    .video-area .play {
        top: 30%;
        left: 40%;
      }
    
      .video-area .play span {
        font-size: 30px;
        padding: 25px;
      }

      #loader {
        left: 55%;
        width: 100px;
        height: 100px;
      }

      .scroll-down-area {
        left: 43%;
      }

      .slider-item .slider-area .img-slider {
        height: 200px !important;
      }

      .welcome-area h1 {
        font-size: 35px;
      }

      .welcome-area h2 {
        font-size: 30px;
      }

      .other-banners h1 {
        font-size: 35px;
      }
      
      .other-banners p {
        font-size: 15px;
      }
    
}

@media (max-width:992px) {
  .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none;
 }

.navbar-nav .nav-item.active .nav-link {
    border-bottom: none;
}

.slider-item .slider-area .img-slider {
  height: 150px;
}

.img-contact {
  height: auto !important;
}
}