@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;600&family=Arima:wght@400;500;600;700&family=Barlow:wght@400;500;600&family=Bree+Serif&family=Cookie&family=Inter:wght@400;500;600&family=Manrope:wght@400;500;600&family=Mochiy+Pop+One&family=Nunito:wght@400;500;600&family=Poppins:wght@400;500;600&family=Quicksand:wght@400;500;600&family=Roboto+Condensed:wght@400;700&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Albert Sans', sans-serif;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #0f0f0f;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #0f0f0f;
  border-radius: 50%;
  border-top: 16px solid #ffa401;
  border-bottom: 16px solid #ffa401;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #0f1b5c;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa401;
}

body p {
  font-size: 18px;
  line-height: 1.8em;
}

.site-header {
    background: #08209a;
}

.header-links a {
   color: white;
   font-size: 14px;
   text-decoration: none;
   font-family: 'Inter', sans-serif;
}

.social-links a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.navbar {
    font-weight: 500;
    background: white;
    /* border-bottom: 2px solid #ffa401; */
}

.navbar-nav .nav-item .nav-link {
   text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #08209a !important;
    border-bottom: 2px solid #08209a;
 }

.navbar-nav .nav-item.active .nav-link {
    color: #08209a !important;
    border-bottom: 2px solid #08209a;
}

.nav-drop {
  position: relative;
}

#service-drop {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  cursor: pointer;
}

.rotate {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.rotate.down {
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}

.toggle-btn {
  color: #08209a;
  border: none;
  font-size: 25px;
  padding-top: 20px;
}

.toggle-btn:focus {
  box-shadow: none;
}

.dropdown-content {
  background: #08209a;
  border-radius: 0px;
  border: none;
}

.dropdown-content a {
  color: white;
}

.dropdown-content a:hover {
  color: white;
  background: #f8ae24;
}

.dropdown-content a.active {
  color: white;
  background: #f8ae24;
}

.home-banner {
    position: relative;
}

.home-banner .carousel-arrow {
    border: 0;
    background: transparent;
    display: none !important;
    height: 50px;
    width: 45px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    outline: 0;
    cursor: pointer;
  }

  .home-banner:hover .carousel-arrow {
     display: block !important;
  }
  
  /* Modificação só pra a seta do próximo carousel ficar na direita */
  
  .home-banner .carousel-arrow.next {
    right: 0;
  }

  .scroll-down-area {
    position: absolute;
    top: 82%;
    left: 48%;
  }


  .scroll-down-area .move-around span {
    color: white;
    border-radius: 50%;
    padding: 10px 15px 10px 15px;
    border: 2px solid white;
    animation: mymove 1.2s infinite ease-in-out;
    animation-direction: alternate-reverse;
    animation-delay: 0s;
    position: relative;
  }

  @keyframes mymove {
    from {top: 0px;}
    to {top: 15px;}
  }

.slider-dots {
    list-style: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .slider-dots li {
    display: inline-block;
    margin: 0 8px;
  }
  
  .slider-dots li > button {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    background: transparent;
    color: transparent;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
  
  .slider-dots li.slick-active > button {
    background: white;
  }

  .banner-one {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url(../img/tim-mine-banner1.jpg) no-repeat center;
    background-size: cover;
    min-height: 550px;
    padding-top: 120px;
  }

  .banner-two {
    background: linear-gradient(rgba(43, 49, 80, 0.904), rgba(43, 49, 82, 0.904)), url(../img/tims-images/IMG_7291.jpg) no-repeat center;
    background-size: cover;
    min-height: 550px;
    padding-top: 120px;
  }

  .banner-three {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url(../img/timadix-banner.jpg) no-repeat center;
    background-size: cover;
    min-height: 550px;
    padding-top: 120px;
  }

  .banner-textarea h1 {
    font-size: 50px;
    color: #f8ae24;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
  }

  .banner-textarea p {
    line-height: 1.8em;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
  }

  .btn-banner {
    color: white;
    border: 2px solid white;
    font-weight: 600;
    border-radius: 25px;
    font-size: 22px;
    text-transform: uppercase;
  }

  .btn-banner:hover {
    color: white;
    border: 2px solid white;
  }

  .text-blue {
    color: #08209a;
  }

  .text-blue-50 {
    color: #0f1b5c;
  }

  .text-yellow {
    color: #ffa401;
  }

  .text-yellow-50 {
    color: #f8ae24;
  }

  .text-inter {
    font-family: 'Inter', 'sans-serif';
  }

  .text-barlow {
    font-family: 'Barlow', 'sans-serif';
  }

  .text-roboto {
    font-family: 'Roboto Condensed', 'sans-serif';
  }

  .text-nunito {
    font-family: 'Nunito', sans-serif;
  }

  .text-quicksand {
    font-family: 'Quicksand', sans-serif;
  }

  .text-bree {
    font-family: 'Bree Serif', serif;
  }

  .text-cookie {
    font-family: 'Cookie', cursive;
  }

  .text-manrope {
    font-family: 'Manrope', sans-serif;
  }

  .text-arima {
    font-family: 'Arima', cursive;
  }

  .text-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .text-mochiy {
    font-family: 'Mochiy Pop One', sans-serif;
  }

  .font-500 {
    font-weight: 500;
  }

  .font-600 {
    font-weight: 600;
  }

  .font-700 {
    font-weight: 700;
  }

  .welcome-area h1 {
    font-weight: 600;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
  }

  /* .welcome-area h2 {
    text-shadow : -1px -1px 1px #fff, 1px 1px 1px #1d36b6 ;
  } */

  .welcome-area p {
    line-height: 1.9em;
    font-size: 17px;
    font-family: 'Arima', cursive;
    text-shadow: 0.6px 0.6px 0.6px rgba(43, 52, 104, 0.937);
  }

  .welcome-area p span {
    font-family: 'Poppins', sans-serif;
    text-shadow: none;
    /* text-shadow : -1px -1px 1px #fff, 1px 1px 1px #e69d15; */
  }

  .img-responsive {
    width: 100%;
  }

  .img-contact {
    height: 520px;
  }

  .btn-learn {
    color: white;
    background: #08209a;
    border-radius: 0px;
    font-size: 20px;
    border: 1px solid #08209a;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .btn-learn:hover {
    color: #08209a;
    background: transparent;
    border: 1px solid #08209a;
  }

  .mining-activities p {
    font-size: 17px;
    line-height: 1.8em;
    font-weight: 500;
    color: #2f3347;
  }

  .video-area {
    position: relative;
  }

  .video-area .play {
    position: absolute;
    top: 40%;
    left: 45%;
  }

  .video-area .play span {
    font-size: 40px;
    color: white;
    background: #1d36b6;
    padding: 30px;
    border-radius: 50%;
    cursor: pointer;
  }

  .statistics {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/mine-statistics.jpg) no-repeat center fixed;
    background-size: cover;
    min-height: 300px;
  }

  .white-bot {
    width: 50px;
    height: 3px;
    background: white;
  }

  .border-custom {
    border-right: 2px solid white;
  }

  .stats-area .counter {
    font-size: 40px;
  }

  .img-logo {
    width: 150px;
  }

  .teams-card {
    border-radius: 0px;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .teams-card .card-img-top {
    max-height: 500px;
  }

  .teams-card .othmem-img {
    max-height: 400px;
  }

  /* #14237a */

  .contact-bg {
    background: #14237a;
    height: 100%;
  }

  .contact-bg p {
    font-size: 20px;
    line-height: 1em;
  }

  .contact-label {
    color: white;
  }

  .contact-control {
    color: white;
    border-radius: 0px;
    border: 1px solid white;
    background: transparent;
  }

  .contact-control:focus {
    color: #f8ae24;
    border-radius: 0px;
    border: 1px solid #f8ae24;
    background: transparent;
    box-shadow: none;
  }

  .btn-contact {
    color: white;
    background: #e69d15;
    border: 1px solid #e69d15;
    border-radius: 0px;
  }

  .btn-contact:hover {
    color: #e69d15;
    background: transparent;
  }

  /* .panel-label {
    color: #1d36b6;
  } */

  .panel-control {
    border-radius: 0px;
  }

  /* .contact-area p {
    line-height: 1.7em;
    font-size: 17px;
  } */


  .my-slider .slider-arrow {
    border: 0;
    background: #14237a;
    display: none !important;
    height: 50px;
    width: 45px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0, -50%);
    outline: 0;
    cursor: pointer;
  }

  .my-slider:hover .slider-arrow {
    display: block !important;
  }
  
  /* Modificação só pra a seta do próximo carousel ficar na direita */
  
  .my-slider .slider-arrow.next {
    right: 0;
  }

  .myslider-dots {
    list-style: none;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
  
  .myslider-dots li {
    display: inline-block;
    margin: 0 8px;
  }
  
  .myslider-dots li > button {
    width: 20px;
    height: 20px;
    border: 3px solid #f8ae24;
    background: transparent;
    color: transparent;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
  
  .myslider-dots li.slick-active > button {
    background: #f8ae24;
  }

  .slider-item .slider-area {
    width: 90%;
  }

  .slider-item .slider-area .img-slider {
    width: 100%;
    height: 200px;
  }

  .footer-area {
    background: #232425;
  }

  .foot-head {
    color: #f8ae24;
    font-weight: 500;
  }

  .foot-text {
    color: white;
    font-size: 14px;
  }

  .foot-list {
    padding-inline-start: 0px;
  }

  .foot-list li a {
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', 'sans-serif';
    font-size: 15px;
    line-height: 2em;
  }

  .foot-list li a:hover {
    color: #f8ae24;
  }

  .foot-end {
    background: #0f0f0f;
  }

  .copyright p {
    color: white;
    font-size: 13px;
    line-height: 1em;
  }

  .footer-social {
    padding-top: 8px;
  }

  .footer-social a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .footer-social a:hover {
    color: #f8ae24;
  }

  .nav-socials a {
    color: #08209a;
    text-decoration: none;
  }

  .nav-socials a.text-yellow-50 {
    color: #f8ae24;
  }

  .nav-socials a:hover {
    color: #f8ae24;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1d36b6;
    color: white;
    cursor: pointer;
    padding: 10px 18px 10px 18px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #1d36b6;
  }

  /* Other Pages Styles */

  .other-banners {
    background: linear-gradient(rgba(43, 49, 80, 0.904), rgba(43, 49, 82, 0.904)), url(../img/tims-oth-banners.jpg) no-repeat center;
    background-size: cover;
    min-height: 250px;
    padding-top: 80px;
  }

  .other-banners h1 {
    font-size: 45px;
  }
  
  .other-banners p a {
    text-decoration: none;
  }

  .other-banners p a:hover {
    color: #f8ae24;
  }

  .manager-card {
   border-radius: 5px;
  }

  .manager-card p {
    font-size: 16px;
   }

  .service-content {
    position: relative;
    overflow: hidden;
   }

  .service-content .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8));
    transition: 0.5s all ease-in-out;
  }

  .service-content .overlay .service-text {
    padding: 70px 30px 20px 30px;
    font-family: 'Barlow', 'sans-serif';
    font-weight: 600;
    color: white;
  }

  .img-service {
    width: 100%;
    height: 250px;
    transition: 0.5s all ease-in-out;
  }

  .service-content:hover .overlay {
    background: linear-gradient(rgba(60, 72, 134, 0.904), rgba(65, 74, 121, 0.904));
  }

  .service-content:hover .img-service {
    transform: scale(1.2);
}

.service-content .overlay .service-text .explore {
  opacity: 0;
  background: #ffa401;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.service-content:hover .overlay .service-text .explore {
  opacity: 1;
}

.sub-service-area .sub-service-text {
  font-size: 17px;
}

.services-list {
  padding-inline-start: 0px;
  list-style-type: none;
}

.services-list li {
  font-size: 16.5px;
  margin-top: 12px;
  position: relative;
  padding-left: 25px;
}

.services-list li i {
  color: #ffa401;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 5px;
}

.contact-det-area .contact-card {
  border-radius: 0px;
  border: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background: #d9ddf1;
  transition: 0.5s all ease-in-out;
  height: 195px;
}

.contact-det-area .contact-card:hover {
  margin-top: -10px;
}

.contact-det-area .contact-card a {
  text-decoration: none;
}

.contact-det-area .contact-card a h5 {
 margin-top: 10px;
}

.consult-bg {
  background: #e0e3f3 !important;
}